.chart{
    max-width: 80%;
    overflow: scroll;
    margin: 1rem auto;
}
.chart-content{
    position: relative;
}
.custom-chart{
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1rem;
    width: calc(100% - 3rem);
    margin: auto;
}
.stack-box{
    background: blue;
    width: 1rem;
}
.column-bar{
    display: flex;
    height: 200px;
    flex-direction: column-reverse;
    width: 1rem;
    margin: 0 2rem;
}
.date{
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 12px;
    padding: .25rem;
    color: #555;
}
.y-axis{
    height: 200px;
    margin-bottom: 1rem;
    position: absolute;
    width: calc(100% - 2rem);
    top: 1rem;
    z-index: -100;
}
.y-axis-i{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: .5rem;
    color: #555;
    height: 25%;
    border-top: 1px dotted #ccc;
}
h4, h6{
    margin-bottom: 0;
}
.color-convention{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.color-i{
    margin: 1rem 2rem;
    font-size: 12px;
}
.color-i span{
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background: #0a0a0a;
    border-radius: 50%;
    margin: 0 5px;
    word-break: break-all;
}