.custom-table{
    width: 80%;
    margin: auto;
}
.custom-table-content{
    margin: 1rem 0;
}
.row{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fcfcfc;
    flex-wrap: wrap;
}
.t-cell{
    flex: 1;
    padding: 1rem .5rem;
}
.first-cell{
    flex: 3;
    color: deepskyblue;
}
.th-row{
    /* background: #f3f5f7; */
}
.th-row .t-cell{
    display: flex;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    background: #f3f5f7;
}
.th-row .t-cell:hover{
    background: #cfcfcf;
}

@media only screen and (max-width: 700px){
    .custom-table{
        width: 95%;
        margin: auto;
    }
    .t-cell{
        flex: auto;
        justify-content: space-around;
    }
    img{
        display: none;
    }
}